################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Project/.vs/Project/v15/ipch/AutoPCH/73aae0bfd7af5fa
