################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Project/.vs/Project/v15/ipch/AutoPCH/73aae0bfd7af5fa
/Project/.vs/Project/v15/ipch/AutoPCH/812c6545ebccfeb3/NCS.ipch
/Project/.vs/Project/v15/Browse.VC.opendb
